*{
    box-sizing: border-box;
}
body{
    width: 90%;
    margin: 0 auto;
    font-family: Roboto;
}
.row{
    display:flex
}

.row.input{
    min-height: 60vh;
    max-height: 80vh;
}

.row.output{
    overflow-x: scroll;
}

.column {
    flex: 1 1 0;
    text-align: center;
}

.column.result{
    display: flex;
    flex-direction: column;
}
#theory{
   height: 90%;
}

#theory, #query {
    width : 98%;
    resize: none;
    border-radius: 10px;
}

.solutionResultWrapper{
    border: 1px solid #EEE;
    border-radius: 5px;
    padding: 5px;
    flex: 1 0 33%;
}

#solutions{
    display: flex;
}

#solutions li:nth-child(odd){
    background-color: #EEE;
}